<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStockService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3001/soap" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStockService" contract="StockService.IStockService"
                name="BasicHttpBinding_IStockService" />
        </client>
    </system.serviceModel>
</configuration>