<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="Base_service.UserService" behaviorConfiguration="MyServiceTypeBehaviors">
				<endpoint address="soap" binding="basicHttpBinding" contract="Base_service.Interfaces.IUserService" bindingConfiguration="basicHttp"></endpoint>
				<endpoint address="" binding="webHttpBinding" contract="Base_service.Interfaces.IUserService" behaviorConfiguration="EndPointBehavior" bindingConfiguration="httpWebBinding"></endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:3000"/>
					</baseAddresses>
				</host>
			</service>
			<service name="Base_service.StockService" behaviorConfiguration="MyServiceTypeBehaviors">
				<endpoint address="soap" binding="basicHttpBinding" contract="Base_service.Interfaces.IStockService" bindingConfiguration="basicHttp"></endpoint>
				<endpoint address="" binding="webHttpBinding" contract="Base_service.Interfaces.IStockService" behaviorConfiguration="EndPointBehavior" bindingConfiguration="httpWebBinding"></endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:3001"/>
					</baseAddresses>
				</host>
			</service>
			<service name="Base_service.LocationService" behaviorConfiguration="MyServiceTypeBehaviors">
				<endpoint address="soap" binding="basicHttpBinding" contract="Base_service.Interfaces.ILocationService" bindingConfiguration="basicHttp"></endpoint>
				<endpoint address="" binding="webHttpBinding" contract="Base_service.Interfaces.ILocationService" behaviorConfiguration="EndPointBehavior" bindingConfiguration="httpWebBinding"></endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:3002"/>
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<endpointBehaviors>
				<behavior name="EndPointBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="MyServiceTypeBehaviors" >
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<webHttpBinding>
				<binding name="httpWebBinding"
						 maxReceivedMessageSize="20000000"
						 maxBufferSize="20000000"
						 maxBufferPoolSize="20000000">
					<readerQuotas maxDepth="32"
						 maxArrayLength="20000000"
						 maxStringContentLength="20000000"/>
					<!--<security mode="Transport"></security>-->
				</binding>
			</webHttpBinding>
			<basicHttpBinding>
				<binding name="basicHttp" allowCookies="true"
						 maxReceivedMessageSize="20000000"
						 maxBufferSize="20000000"
						 maxBufferPoolSize="20000000">
					<readerQuotas maxDepth="32"
						 maxArrayLength="20000000"
						 maxStringContentLength="20000000"/>
				</binding>
			</basicHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>