<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_IStockService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3000/soap" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="ServiceReference3.IUserService"
                name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:3001/soap" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStockService" contract="ServiceStorageManger.IStockService"
                name="BasicHttpBinding_IStockService" />
        </client>
    </system.serviceModel>
</configuration>