.App {
  text-align: center;
  height: 100vh;
  transition: all .5s;
}

#themeButton{
  border: 2px grey solid;
  transition: all .5s;
  float:right;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#loginCard{
  position: absolute;
  top:300px;
}

.res-background{
  background-color:var(--background);
}

.res-primary{
  color:var(--text-primary);
}

.res-secondary{
  color:var(--text-secondary);
}

.res-border{
  border-color:var(--text-primary);
}

.res-color-hover:hover{
  color:var(--text-secondary);
}