body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
}

html {
    block-size: fit-content;
    width: 100%;
    background-color:var(--background);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --background: #FF8E52F7;
    --text-primary: black;
    --text-secondary: royalblue;
    --color-one: grey;
    --accent: rgb(34, 34, 34);
}

[data-theme='dark'] {
    --background: rgb(20, 20, 20);
    --text-primary: #FF8E52F7;
    --text-secondary: grey;
    --color-one: rgb(55, 62, 77);
    --accent: rgb(64, 67, 83);
}