body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
}

html {
    block-size: fit-content;
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --background: #874ACD;
    --background-gradient:#7C3763;
    --text-primary: wheat;
    --text-secondary: royalblue;
    --color-one: grey;
    --accent: rgb(195, 0, 255);
}

[data-theme='dark'] {
    --background: rgb(20, 20, 20);
    --background-gradient:rgb(20, 20, 20);
    --text-primary: #874ACD;
    --text-secondary: grey;
    --color-one: rgb(55, 62, 77);
    --accent: rgb(102, 0, 109);
}