<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basichttp" maxBufferPoolSize="20000000" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="20000000"
                        maxArrayLength="20000000" />
                </binding>
                <binding name="BasicHttpBinding_ILocationService" />
                <binding name="BasicHttpBinding_IStockService" />
                <binding name="BasicHttpBinding_IUserService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3002/soap" binding="basicHttpBinding"
                bindingConfiguration="basichttp" contract="LocationService.ILocationService"
                name="BasicHttpBinding_ILocationService" />
            <endpoint address="http://localhost:3000/soap" binding="basicHttpBinding"
                bindingConfiguration="basichttp" contract="UserService.IUserService"
                name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:3001/soap" binding="basicHttpBinding"
                bindingConfiguration="basichttp" contract="StockService.IStockService"
                name="BasicHttpBinding_IStockService" />
        </client>
    </system.serviceModel>
</configuration>