<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
				<binding name="basicHttp" allowCookies="true"
						 maxReceivedMessageSize="20000000"
						 maxBufferSize="20000000"
						 maxBufferPoolSize="20000000">
					<readerQuotas maxDepth="32"
						 maxArrayLength="20000000"
						 maxStringContentLength="20000000"/>
				</binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3002/soap" binding="basicHttpBinding"
                bindingConfiguration="basicHttp" contract="LocationService.ILocationService"
                name="BasicHttpBinding_ILocationService" />
            <endpoint address="http://localhost:3001/soap" binding="basicHttpBinding"
                bindingConfiguration="basicHttp" contract="StockService.IStockService"
                name="BasicHttpBinding_IStockService" />
            <endpoint address="http://localhost:3000/soap" binding="basicHttpBinding"
                bindingConfiguration="basicHttp" contract="UserService.IUserService"
                name="BasicHttpBinding_IUserService" />
        </client>
    </system.serviceModel>
</configuration>